<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}" />
    <title>Chatbot Example</title>
  </head>
  <body>
    <div class="container-main">
      <div class="container">
        <h1 class="header">Chat Bot</h1>
        <div class="chat-container"></div>
      </div>
      <div class="input-container">
        <input type="text" class="input-box" />
        <button class="button" onclick="my_input()">OK</button>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
