<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/index.css" />
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" /> -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <title>Chatbot Example</title>
</head>

<body>
  <div class="container-main">
    <div class="header">
      <h1>Retrival Wizard</h1>
      <div class="topics">
        <input type="checkbox" id="select_topics" name="select topics" value="select topics" onclick="topic_checker()">
        <label for="select topics" id="topics_label"> Topics</label><br>
        <input type="checkbox" id="select_analytics" name="select results" value="select results"
          onclick="analytics_checker()">
        <label for="select results" id="analytics_label"> Analytics</label>
      </div>
    </div>
    <div class="chart">
      <canvas id="myChart"></canvas>
    </div>
    <div class="container">
      <div class="chat-container">
      </div>
    </div>
    <div class="input-container">
      <input type="text" class="input-box" />
      <button class="button" onclick="my_input()"> <span class="material-symbols-outlined"
          onclick="my_input()">quick_reference_all</span></button>
    </div>
  </div>
  <div class="topic_names">
    <h3>Select Topic</h3>
    <input type="checkbox" id="Health" name="Health" value="Health" onclick="topic_adder('Health')">
    <label for="Health"> Health</label><br>
    <input type="checkbox" id="Environment" name="Environment" value="Environment" onclick="topic_adder('Environment')">
    <label for="Environment"> Environment</label><br>
    <input type="checkbox" id="Technology" name="Technology" value="Technology" onclick="topic_adder('Technology')">
    <label for="Technology"> Technology</label><br>
    <input type="checkbox" id="Economy" name="Economy" value="Economy" onclick="topic_adder('Economy')">
    <label for="Economy"> Economy</label><br>
    <input type="checkbox" id="Entertainment" name="Entertainment" value="Entertainment" onclick="topic_adder('Entertainment')">
    <label for="Entertainment"> Entertainment</label><br>
    <input type="checkbox" id="Sports" name="Sports" value="Sports" onclick="topic_adder('Sports')">
    <label for="Sports"> Sports</label><br>
    <input type="checkbox" id="Politics" name="Politics" value="Politics" onclick="topic_adder('Politics')">
    <label for="Politics"> Politics</label><br>
    <input type="checkbox" id="Education" name="Education" value="Education" onclick="topic_adder('Education')">
    <label for="Education"> Education</label><br>
    <input type="checkbox" id="Travel" name="Travel" value="Travel" onclick="topic_adder('Travel')">
    <label for="Travel"> Travel</label><br>
    <input type="checkbox" id="Food" name="Food" value="Food" onclick="topic_adder('Food')">
    <label for="Food"> Technology</label><br>
    <input type="checkbox" id="All" name="All" value="All" onclick="topic_adder('All')">
    <label for="All"> All</label>
  </div>
  <!-- <script src="{{ url_for('static', filename='js/index.js') }}"></script> -->
  <script src="../static/js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>