body {
    height: 98vh;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(230, 222, 215);
}

.container-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(231, 204, 204);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.header {
    align-self: center;
    background-color: antiquewhite;
    color: green;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

.container {
    flex-grow: 1;
    overflow-y: auto;
}

.chat-container {
    display: flex;
    flex-direction: column;

}

.user-text {
    align-self: flex-end;
    background-color: aqua;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

p {
    padding-right: 10px;
}

.ai-text {
    background-color: aquamarine;
    align-self: flex-start;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    margin-right: 10px;
  }

.input-container {
    align-self: center;
    display: flex;
    margin: 10px;
    width: 100%;
}

.input-box {
    flex-grow: 1;
    margin-right: 10px;
    border-radius: 5px;
    height: 30px;
}

@media screen and (max-width: 1000px) {
    body{
        margin: 0% !important;
        background-color: white !important;
    }
    .container-main {
        margin-top: 0% !important;
        margin-bottom: 0% !important;
    }
}
