body {
    height: 98vh;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(230, 222, 215);
    display: flex;
}

.container-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(231, 204, 204);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.header {
    align-self: center;
    background-color: antiquewhite;
    color: green;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
    display: flex;
}

.topics {
    align-self: center;
    margin-left: 5px;
}

.container {
    flex-grow: 1;
    overflow-y: auto;
}

.chat-container {
    display: flex;
    flex-direction: column;

}

.user-text {
    align-self: flex-end;
    background-color: aqua;
    padding: 1px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

p {
    padding-right: 10px;
    padding-left: 10px;
}

.ai-text {
    background-color: aquamarine;
    align-self: flex-start;
    padding: 1px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.input-container {
    align-self: center;
    display: flex;
    margin: 10px;
    width: 100%;
}

.input-box {
    flex-grow: 1;
    margin-right: 10px;
    border-radius: 5px;
    height: 30px;
    align-self: flex-end;
}

.topic_names {
    padding: 100px;
    background-color: rgb(216, 233, 199);
}

.chart {
    display: block;
    margin: 0 auto;
}

#analytics-header {
    text-align: center;
    color: rgb(20, 190, 134);
    padding-top: 5px;
}

#myChart {
    width: 500px !important;
    height: 500px !important;
    margin-top: 25%;
}

@media screen and (max-width: 2000px) {
    body {
        margin: 0% !important;
        background-color: white !important;
    }

    .container-main {
        margin-top: 0% !important;
        margin-bottom: 0% !important;
    }

    .header {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5px;
    }

    .topic_names {
        padding: 5px;
    }
}

@media screen and (max-width: 500px) {
    .topic_names {
        padding: 1px;
    }

    #myChart {
        width: 300px !important;
        height: 300px !important;
    }
}

@media screen and (max-width: 400px) {
    .topic_names {
        padding: 1px;
    }

    .header {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 360px) {
    .topic_names {
        padding: 1px;
    }

    .header {
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 5px;
    }
}